body {
  background-color: #008375;
  font-family: 'Play', sans-serif;
}

div#scary_stories {
  background-color: #572D57;
  padding: 20px;
}

div.story {
  background-color: #003399;
  padding: 10px;
  border: 5px solid #CC0000;
  margin: 10px;
}
